<!-- <section class="container" id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                
                <%- include('_posts') -%>
                
            <%} %>
        </ul>
    </div>
</section>


<section class="container" id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users){ %>
        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name%></a>
        </p>
    <% } %>
</section> -->

<div class="container">
    <div class="row">
        <section class="col" id="feed-posts">
                <h4 >New Post</h4>
                <% if(locals.user){ %>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                    <input type="submit" value="Post">
                </form>
            <% } %>
        </section>
        <section class="col-6">
            <div id="posts-list-container col">
                <h4>Top Posts</h4>
                <ul>
                    <% for(post of posts){ %>
                        
                        <%- include('_posts') -%>
                        
                    <%} %>
                </ul>
            </div>
        </section>
        
        
        <section class="col" id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){ %>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name%></a>
                </p>
            <% } %>
        </section>
    </div>
    
    

</div>